<!DOCTYPE html>
<!-- Tämä on peruslayout -->
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/base.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/bootstrap.css') }}"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TodoApp</title>
  </head>
  <body>
    {% include "navbar.html" %} <!-- Tämä tuo navbariin -->
    {% block content %} {% endblock %}
    <script src="{{ url_for('static', path='/js/jquery-slim.js') }}"></script> <!-- Tämä tuo jQueryn -->
    <script src="{{ url_for('static', path='/js/popper.js') }}"></script> <!-- Tämä tuo Popper.js:n -->
    <script src="{{ url_for('static', path='/js/bootstrap.js') }}"></script>  <!-- Tämä tuo Bootstrapin -->
    <script src="{{ url_for('static', path='/js/base.js') }}" defer></script> <!-- defer meinaa, että skripti ladataan vasta, kun muu sivu on ladattu -->
    <!-- Nämä tuovat Bootstrapin ja perus JavaScriptin -->
  </body>
</html>
